{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
</head>
<body>
     <header>
          <h1>About</h1>
           <nav>
              
               <li><a href="{% url 'index' %}">Home</a></li>
            </nav>
     </header>
     <section id="Hero">
    
           <p>Hello! I'm Dharshini Baskaran, a passionate Full Stack Developer and a B.Tech student in Artificial Intelligence & Data Science at Velammal Engineering College. I enjoy building modern, responsive, and user-friendly web applications using HTML, CSS, Python, Django, and SQL. I am always eager to learn new technologies, strengthen my programming skills, and gain practical experience by working on real-world projects.

I believe that continuous learning, creativity, and problem-solving are the foundation of becoming a successful software developer. My goal is to build innovative applications that solve real-world problems while continuously improving my technical and professional skills. I am enthusiastic about exploring new technologies, collaborating with others, and contributing to meaningful software projects.

Beyond coding, I enjoy reading novels, listening to music, and spending quality time with my family and friends. These interests help me stay creative, motivated, and maintain a healthy balance between my personal life and career. I am excited to continue my journey as a developer and work towards becoming a skilled Full Stack Developer.</p>
    
      </section>
      <footer>
          <p>&copy 2026 Dharshini. All rights reserved;</p>
      </footer>
</body>
</html>